doctype html
html(lang="en")
  head
    title= Request Header Parser
    script(type='text/javascript').
  body
    h1 "Your IP Information is"
      p="IP Address" + ipaddress
      p="Language" + lang
      p="Software" + software
      